
#menu{
    min-width: 50%;
    min-height: 50%;
    height: 500px;
    background-color: rgba(143, 143, 143, 0.6649);
    margin: 20% auto;
    border-radius: 10px;
    transition: opacity 1s ease;
    z-index: 5;
}
body, html {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}
ul {
    font-size: 2em;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
        text-align: center;
        list-style-type: none;
        width: 60%;
        padding: 10px;
        color: white;
    }
}
.hidden {
    display: none;
}
.shown {
display: block;
}
.active-sprite{
    border: 5px solid gold;
}
.box{
    font-weight: 1000;
    position: absolute;
    display: inline-block;
    z-index: 1;
    transition: top 0.07s ease, left 0.07s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.glow:hover {
  box-shadow: 0px 0px 10px 5px teal;
}